* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.estoque-lista {
    width: 60%;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table tr:hover {
    background-color: #f1f1f1;
}

.btn-acao {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 14px;
    margin: 5px;
}

.btn-acao.azul {
    background-color: #007bff;
}

.btn-acao.laranja {
    background-color: #f44336;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.formulario-entrada .campo {
    margin-bottom: 20px;
}

.formulario-entrada label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.formulario-entrada select,
.formulario-entrada input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formulario-entrada button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.formulario-entrada button:hover {
    background-color: #218838;
}
